apiVersion: apps/v1
kind: Deployment
metadata:
  name: consumer-service
  namespace: bank-processing
spec:
  replicas: 2
  selector:
    matchLabels:
      app: consumer-service
  template:
    metadata:
      labels:
        app: consumer-service
    spec:
      serviceAccountName: consumer-service-sa

      containers:
        - name: consumer-service
          image: <ECR_REPOSITORY_URL>/consumer-service:latest
          imagePullPolicy: Always

          ports:
            - containerPort: 8080

          envFrom:
            - configMapRef:
                name: consumer-service-config

          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "production"

            # recomendado para MSK IAM
            - name: AWS_REGION
              valueFrom:
                configMapKeyRef:
                  name: consumer-service-config
                  key: AWS_REGION

          resources:
            requests:
              memory: "512Mi"
              cpu: "300m"
            limits:
              memory: "1Gi"
              cpu: "1000m"

          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 40
            periodSeconds: 15
            failureThreshold: 3

          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
            failureThreshold: 3